
@{
    ViewBag.Title = "Consulta de Usuários";
}

<div class="jumbotron">
    <h4>Consulta de Usuários</h4>
</div>


<table>
    <tbody>
        <tr>
            <td>Filtro: </td>
            <td><input type="text" ng-model="usuNome" placeholder="Nome"></td>
        </tr>
    </tbody>
</table>
<br />

<div>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Endereço</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="usuario in usuarios | filter:{Nome:usuNome}">
                <td>{{usuario.Id}}</td>
                <td>{{usuario.Nome}}</td>
                <td>{{usuario.Idade}}</td>
                <td>{{usuario.Endereco}}</td>
                <td><a style="cursor:pointer;" ng-click="edicaoUsuario(usuario.Id)">Alterar</a></td>
                <td><a style="cursor:pointer;" ng-click="exclusaoUsuario(usuario.Id)">Excluir</a></td>
            </tr>
        </tbody>
    </table>
    
</div>

<br />
<label ng-show="(usuarios|filter:usuNome).length==0">Nenhum registro encontrado.</label>
<label style="color: red">{{error}}</label>
